header {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    margin: auto;
}

nav {
    display: flex;
    width: 140px;
    align-items: center;
    justify-content:space-between;
}

#code {
    position: relative;
    top: -12px;
    left:2px;
    font-size: 9px;
}

.search-container {
    width: 600px;
    display: flex;
    border: 1px solid #c4c4c4;
    border-radius: 25px;
    background-color: #fff;
    margin-left: 180px;
    position: relative;
    align-items: center;    
}

.search-input {
    padding: 8px 12px;
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 16px;
    margin-left: 15px;
}

.search-button {
    padding: 8px 12px;
    background-color: #f8f8f8;
    border-radius: 0 25px 25px 0;
    border: none;
    border-left: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button svg {
    width: 24px;
    height: 24px;
    fill: #606060;
}

.search-button:hover {
    background-color: #ebebeb;
}

.search-voice {
    margin-left: 20px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 50%;
    padding: 5px;

}

.aplication {
    display: flex;
    flex-grow: 1;
    row-gap: 10px;
    margin-left: 220px;
    
}

#img {
    border-radius: 50%;
    margin-left: 20px;
}

#notification {
    margin-left: 20px;
    margin-top: 6px;
}

main {
    margin: 35px 20px 10px 25px;
}

#video {
    border-radius: 18px;
}

h1 {
    width: 900px;
    font-size: 22px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 5px;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

.avatar {
    display: flex;
    width: 850px;
    justify-content: space-between;
    align-items: center;
}
.replay {
    margin: 0 10px 0 10px;
    font-family: sans-serif;
}

#button {
    border-radius: 8px;
}

.descrição {
    width: 600px;
    text-align: justify;
    font-family: sans-serif;
}

.lateral {
    width: 550px;
}

.lateral .replay{
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border: solid 1px #d1d1d1;
    border-radius: 15px;
    color: black;
    height: 30px;
    width: 388px;
    margin: auto;
    
    }

main {
    display: flex;
    justify-content:space-between
}

.videos {
    margin: 10px auto;
    height: 114px;
}

.vm {
    height: 114px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family:sans-serif;
}

.vm p{
    width: 200px;
    padding: 0 10px 0 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
}

.vmb {
    border-radius: 8px;
}





